body    {
    padding: 0;
    margin: 0;
}

h1,h2   {
    font-size: 4rem;
}
h3  {
    font-size: 2rem;
}
p   {
    font-size: 19px;
}
a   {
    text-decoration: none;
}
li  {
    list-style: none;
}
ul  {
    margin: 0;
}
.container  {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Desktop Navigation Bar Styling */
.title  {
    margin: 1.5rem 0 1.5rem 0;
}
.title a    {
    color: black;
    font-size: 2rem;
}
.title a:hover    {
    color: hsl(216, 30%, 68%);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links ul  {
    display: flex;
    
}

.navbar-links li    {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.navbar-links li a  {
    display: block;
    text-decoration: none;
    
    color: hsl(216, 30%, 68%);
    font-size: 1.1rem;
}

.navbar-links a:hover   {
    color: hsl(256, 26%, 20%);
}

.view-plans {
    border: 1px solid black;
    padding: .5rem;
    border-radius: 5px;
    background-color: black;
}
.view-plans:hover   {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}
a.view-plans:hover {
    color: white;
}

/* Mobile Hamburger Nav Styling */

.hamburger  {
    position: absolute;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 20px;
    width: 30px;
    top: 1rem;
    right: .5rem;
}
.hamburger .bar    {
    display: flex;
    height: 3px;
    width: 100%;
    background-color: black;
}

/* Section 1 Styling */

.s1 {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
    height: 405px;
}
.s1-group    {
    display: flex;
}
.left-col    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}
.view-btn   {
    border: 3px solid white;
    padding: .5rem;
    width: 7rem;
    color: white;
    text-align: center;
}
.view-btn:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.right-col  {
    padding-right: 5rem;
}

/* Main Section Styling */
.main-image {
    position: relative;
    top: 5rem;
    box-shadow: 0 0 12px 5px black;
}

.main   {
    padding-bottom: 10rem;
}
.info-container {
    padding-top: 10rem;
}
.info   {
    display: flex;
    padding: 2rem 0 7rem 0;
}

.icon-image {
    height: 86px;
    width: 86px;
}

.affordable {
    margin: 0 5rem;
}

/* How-We-Work Styling */
.how-we-work {
    display: flex;
    justify-content: space-around;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
    text-align: center;
    align-items: center;
    padding: 30px;
    color: white;
}
.how-btn    {
    border: 5px solid white;
    font-size: 2rem;
    color: white;
    padding: .6rem;
}
.how-btn:hover  {
    background-color: white;
    color: black;
}

/* Footer Styling */
.footer-container   {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 5rem;
    color: black;
}
.footer-container li    {
    margin-bottom: 10px;
}
.footer-container a  {
    color: hsl(216, 30%, 68%);
}
.footer-container a:hover   {
    color: black;
}

/* Media Query for different resolutions */
/* Mobile Design */
@media (max-width: 425px)  {
    .container  {
        width: 95%;
    }
    .title  {
        margin: 10px;
    }
    .navbar-links   {
        display: none;
    }
    .hamburger  {
        display: flex;
    }
    .s1 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .s1-group   {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .left-col   {
        align-items: center;
    }
    .right-col  {
        padding: 0;
    }
    .main-image {
        width: 100%;
    }
    .info-container   {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .info   {
        flex-direction: column;
    }

    .how-we-work    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 769px ) and (max-width: 1439px) {
    .container  {
        width: 95%;
    }
    .s1 {
        height: 430px;
    }
    .right-col  {
        padding: 1rem;
    }
    .main-image {
        width: 500px;
        top: 9rem;
    }
}